@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
html,body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#ECEBEB;
    color:#474747;
    font-size:16px;
    margin:0;
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:black;
}
img{
    vertical-align: middle;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* 헤더, 콘텐츠, 푸터 */
main{
    width:100%;
}
header, section, footer{
    width:100%;
    border-bottom:1px dashed black;
}
/* header */

/* 콘텐츠 본문 */
.contents1{
    width:100%;
    position:relative;
    /* background-color: rgb(149, 220, 239); */
}
/* 좌우 슬라이드 */
.slider-wrap{
    width:100%;
    /* max-width:1440px; */
    margin:auto;
    position:relative;
}
.slider-container{
    width:100%;
    position:relative;
}
.slides{
    width:100%;
    position:relative;
}
.slide{
    width:100%;
    position:relative;
}
.slide picture{
    display:inline-block;
    width: 100%;
}
.slide img{
    width:100%;
}
.slide-text{
    position:absolute;
    width:50%;
    max-width:500px;
    background-color:rgba(255,255,255,0.5);
    top:50%;
    right:2%;
    transform:translate(0, -40%);
    padding:5% 15px;
    font-size:5vw;
    color:rgb(8, 78, 8);
    font-weight:500;
}
.slide-text p:first-child{
    font-size:0.8em;
    font-weight:bold;
}
.slide-text p:nth-child(2){
    font-weight:600
}
.color1{
    font-size:1.3em;
}
.slide-text p:nth-child(3){
    font-weight: 600;
}
.color2{
    color:purple;
    font-size:1.3em
}
.color3{
    font-size:1.3em;
    font-weight: bold;
}
/* footer */

/* ~ 639px까지의 css */
@media screen and (min-width:640px){
    /* 640px에서 부터 css */
}
@media screen and (min-width:768px){
    /* 768px에서 부터 css */

}

@media screen and (min-width:1024px){
    /* 1024px에서 부터 css */
    
}
@media screen and (min-width:1280px){
    /* 1280px에서 부터 css */
}
@media screen and (min-width:1440px){
    /* 1440px에서 부터 css */
}



